.logContainer {
  flex-grow: 1; /* Ensures the log grows to fill available space */
  display: flex;
  flex-direction: column-reverse; /* Add items from the bottom upwards */
  overflow-y: auto; /* Scrolls when content overflows */
  box-sizing: border-box; /* Scroll when too many logs */
  max-height: 100vh;
  margin: 5px
  }
  
  .logEntry {
    padding: 2px 5px 2px 5px;
    font-size: 14px;
    word-break: break-word; /* Handle long messages */
  }
  